AUTH_ADDRESS = "auth.example.com"
REALM_NAME = "ExampleRealm"
TOONS = {
	{
		accountName = "wowbot1",
		password = "password",
		toonName = "Warrior",
		class = WARRIOR,
		spec = PROT,
		race = GNOME,
		gender = MALE,
		professions = { MINING, ENGINEERING },
		-- gnome warrior engineer is best miner,
		-- due to Mining Mail Helmet +5 that only engineers can wear,
		-- and Gnome's Engineering +15.
	},
	{
		accountName = "wowbot2",
		password = "password",
		class = PRIEST,
		spec = DISC or HOLY,
		race = DWARF,
		gender = FEMALE,
		professions = { TAILORING, ENCHANTING, FISHING },
	},
	{
		accountName = "wowbot3",
		password = "password",
		class = PALADIN,
		race = DWARF,
		professions = { BLACKSMITHING, HERBALISM },
	},
	{
		accountName = "wowbot4",
		password = "password",
		class = ROGUE,
		spec = SUBTLETY,
		race = GNOME,
		gender = FEMALE,
		professions = { SKINNING, LEATHERWORKING, COOKING },
	},
--	player
--	leaving herbalism to a bot because I don't want or need to do gathering myself.
--	{
--		class = MAGE,
--		race = GNOME,
--		gender = FEMALE,
--		professions = { ALCHEMY },
--	},

-- skipping first aid because we've got two healers.
-- was gonna skip fishing, but it's needed for some alchemy recipes.
-- now each bot has one gathering profession (skinning counts).
}
